@charset "UTF-8";
/* CSS Document */
#billboardSpotlight {
	color: #000;
	font-size: 16px;
	width: 960px;
	height: 93px;
	margin: 32px auto 24px;
/*	border-top: 2px solid #a5b05c;*/
	overflow: visible;
	position: relative;
}
#billboardSpotlight:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#billboardSpotlight h1 {
	left: 0px;
	top: 0px;
	width: 320px;
	height: 93px;
	background: url(../media/billboard/20100104/spotlight.png) no-repeat 0px 0px;
}
#billboardSpotlight h1:hover {
	background: url(../media/billboard/20100104/spotlight.png) no-repeat 0px -93px;
}
#billboardSpotlight h2 {
	left: 320px;
	top: 0px;
	width: 320px;
	height: 93px;
	background: url(../media/billboard/20100104/spotlight.png) no-repeat -320px 0px;
}
#billboardSpotlight h2:hover {
	background: url(../media/billboard/20100104/spotlight.png) no-repeat -320px -93px;
}
#billboardSpotlight h3 {
	left: 640px;
	top: 0px;
	width: 320px;
	height: 93px;
	background: url(../media/billboard/20100104/spotlight.png) no-repeat -640px 0px;
}
#billboardSpotlight h3 a:hover {
	background: url(../media/billboard/20100104/spotlight.png) no-repeat -640px -93px;
}
#billboardSpotlight h1,
#billboardSpotlight h2,
#billboardSpotlight h3 {
	position: absolute;
	font-weight: normal;
	text-indent: -9999px;
	overflow: hidden;
	font-size: 1em;
}

#billboardSpotlight a {
	position: relative;
	top: 0;
	left: 0;
	display: block;
	width: 320px;
	height: 93px;
	text-indent: -9999px;
	overflow: hidden;
}
